<div
  (drop)="_drop($event)"
  (dragover)="_fileOver($event)"
  style="aspect-ratio: 1 / 1"
  class="relative mx-auto flex w-full max-w-52 flex-col items-center justify-center gap-1 rounded-md border-2 border-dashed border-border px-2 py-2 pb-8">
  <img
    *ngIf="fileUrlToShow"
    [src]="fileUrlToShow.src"
    class="w-full rounded-md object-cover"
    style="aspect-ratio: 1 / 1" />
  <label *ngIf="!fileUrlToShow" class="fill-border text-muted-foreground">
    {{ control.label }}
    <img *ngIf="fileUrlToShow" [src]="_iconUrl" class="mx-auto h-5 w-5" />
  </label>

  <div class="absolute bottom-2 left-1/2 flex h-1/4 w-4/5 -translate-x-1/2 transform rounded-md bg-border">
    <button (click)="openSelectFile()" class="text-nowrap px-3 py-[2px] text-sm font-light text-muted-foreground">
      انتخاب فایها
    </button>

    <div *ngIf="fileUrlToShow" class="flex flex-col justify-center gap-1 overflow-x-auto p-1 scrollbar-none">
      <section
        *ngFor="let file; index as fileIndex; of: _getValueAsFiles(control.value); index as i"
        [ngClass]="{
          '!bg-primary text-background': fileIndex == fileUrlToShow.index
        }"
        class="flex h-fit w-full justify-center gap-x-1 text-nowrap rounded-md bg-muted-foreground p-1 text-xs font-light text-muted">
        <p class="truncate" style="direction: ltr">
          <!-- <svg-icon src="{{ _iconUrlImage }}" [svgClass]="'h-2 w-2 mx-auto'"> </svg-icon> -->
          {{ file.name }}
        </p>
        <span (click)="onDeleteFile(i)" class="cursor-pointer">x</span>
      </section>
    </div>
  </div>
</div>
<input
  multiple
  #file
  (change)="onFilesChange($event)"
  type="file"
  class="hidden w-full rounded-md border border-border px-3 py-3" />
